[submodule "reqs/hash"]
	path = reqs/hash
	url = git://github.com/mlevans/leaflet-hash.git
[submodule "reqs/draw"]
	path = reqs/draw
	url = git://github.com/Leaflet/Leaflet.draw.git
[submodule "reqs/leaflet"]
	path = reqs/leaflet
	url = git://github.com/Leaflet/Leaflet.git
[submodule "tests/casperserver"]
	path = tests/casperserver
	url = git://github.com/yohanboniface/casperserver.git
