[submodule "reqs/hash"]
	path = reqs/hash
	url = git://github.com/mlevans/leaflet-hash.git
[submodule "reqs/draw"]
	path = reqs/draw
	url = git://github.com/Leaflet/Leaflet.draw.git
[submodule "reqs/leaflet"]
	path = reqs/leaflet
	url = git://github.com/Leaflet/Leaflet.git
[submodule "reqs/minimap"]
	path = reqs/minimap
	url = git://github.com/Norkart/Leaflet-MiniMap.git
[submodule "reqs/edit_in_osm"]
	path = reqs/edit_in_osm
	url = git://github.com/yohanboniface/Leaflet.EditInOSM.git
[submodule "reqs/i18n"]
	path = reqs/i18n
	url = git://github.com/yohanboniface/Leaflet.i18n.git
[submodule "reqs/csv2geojson"]
	path = reqs/csv2geojson
	url = https://github.com/mapbox/csv2geojson.git
[submodule "reqs/togeojson"]
	path = reqs/togeojson
	url = https://github.com/mapbox/togeojson.git
[submodule "reqs/osmtogeojson"]
	path = reqs/osmtogeojson
	url = https://github.com/aaronlidman/osm-and-geojson.git
[submodule "reqs/loading"]
	path = reqs/loading
	url = https://github.com/ebrelsford/Leaflet.loading.git
[submodule "reqs/contextmenu"]
	path = reqs/contextmenu
	url = https://github.com/aratcliffe/Leaflet.contextmenu.git
