    <div id="map_{{ map.slug }}" class="map_fragment"></div>
    <script type="text/javascript">
        map_fragment_settings = {
            "chickpea_id": {{ map.pk }},
            "lng": {{ map.center.x }},
            "lat": {{ map.center.y }},
            "zoom": {{ map.zoom }},
            "tilelayers": [{{ tilelayer|safe }}],
            "categories": {{ categories|safe }},
            "urls": {{ urls|safe }},
            "default_icon_url": "{{ STATIC_URL }}chickpea/img/marker.png",
            "allowEdit": false,
            'hash': false,
            'attributionControl': false,
            'scrollWheelZoom': false,
            'embedControl': false,
            'layersControl': false,
            'zoomControl': false
        }
        new L.ChickpeaMap("map_{{ map.slug }}", map_fragment_settings);
    </script>
