    <div id="map"></div>
    <script type="text/javascript">
        map_settings = {
            "chickpea_id": {{ map.pk }},
            "lng": {{ map.center.x }},
            "lat": {{ map.center.y }},
            "categories": {{ categories|safe }},
            "urls": {{ urls|safe }},
            "default_icon_url": "{{ STATIC_URL }}chickpea/img/marker.png",
            "zoom": {{ map.zoom }},
            "tilelayers": {{ tilelayers|safe }},
            "allowEdit": {{ allowEdit }}
        }
        {% if map.locate %}
            map_settings['locate'] = {"setView": true}
        {% endif %}
        var MAP = new L.ChickpeaMap("map", map_settings);
    </script>
